<div class="container">
<h1>Reset Password</h1>
<p id="notice"><%= notice %></p>
<p>Dear <b><%= @user.username %></b>,</p>
<p>Enter your new password below</p>
	<%= form_tag( method: :post ) do  %>
<p>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
</p>
<p>
      <%= label_tag :password_confirmation %>
      <%= password_field_tag :password_confirmation %>
</p>
<p>
      <%= submit_tag "Reset Password", class: "btn btn-large btn-primary" %>
 </p>
    <% end %>
</div>