<div class="container">
  <%- model_class = Device -%>
  <div class="page-header">
    <h1>Register your device</h1>
  </div>
  <p id="notice"><%= notice %></p>
  <script type="text/javascript">

  </script>
  <%= form_tag( devices_path, :class => 'form-horizontal'  )   %>
  <div class="control-group">
    <%= label_tag "MAC Address", nil, :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :macaddress, nil, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag "Nick Name", nil, :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :nickname, nil, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag "Description", nil, :class => 'control-label' %>
    <div class="controls">
      <%= text_area_tag :description, nil, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag "Stolen", nil, :class => 'control-label' %>
      <%= check_box_tag :stolen, nil,false, :class => 'text_field' %>
  </div>
  <div class="control-group">
    <%= label_tag "Secret key", nil, :class => 'control-label' %>
    <div class="controls">
      <%= password_field_tag :secret_key, nil, :class => 'text_field' %>
      <input id="showpassword" type="checkbox" /> Show
    </div>
  </div>
  <p></p>
  <div class="form-actions">
    <%= submit_tag "Register", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    devices_path, :class => 'btn' %>
  </div>
</div>