<%= form_tag( '',  multipart: true ) do  %>
  <div class="control-group">
    <%= label_tag :ip_address,nil, :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :ip_address,nil, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :device_id,nil, :class => 'control-label' %>
    <div class="controls">
      <%= text_field_tag :device_id,nil, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :log_file,nil, :class => 'control-label' %>
    <div class="controls">
      <%= file_field_tag :log_file, :class => 'file_field', :multiple => true %>
    </div>
  </div>
  <div><p></p></div>

  <div class="form-actions">
    <%= submit_tag nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                devices_path, :class => 'btn' %>
  </div>
<% end %>
